---
imgPath: ../assets/
---

<div class="open-account bg-lightgrey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <div class="img-card"><img src="{{imgPath}}img/layout/card-img.png" alt="#"></div>
            </div>
            <div class="col-xs-12 col-md-8">
                <p class="info">Open a NAB Classic Banking account online in less than 10 minutes</p>
            </div>
            <div class="col-xs-12 col-md-2">
               <div class="action-btn">
                    <a href="#" type="button" class="btn btn-red">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>