<nav class="nav-bar cta-bar">
    <div class="container no-padding-md">
        <div class="nav-dropdown">
            <button class="nav-dropdown-toggle" aria-expanded="false" data-target="#nav-collapsed">
                <span>Get in touch</span><span class="icon-arrow icon-arrow-down pull-right"></span>
            </button>
        </div>
        <div class="nav-collapse hidden-md-under" id="nav-collapsed">
            <ul class="nav-bar-nav">
                <li><a href="#" target="_blank" class="icon-contact icon-callback">Request a callback</a></li>
                <li><a href="#" target="_blank" class="icon-contact icon-callus">Call us 13 40 30</a></li>
                <li><a href="#" target="_blank" class="icon-contact icon-visit">Visit us today</a></li>
            </ul>
        </div>
        <div class="nav-bar-right pull-right">
            <a href="#" target="_blank" title="">Apply now</a>
        </div>
    </div>
</nav>