<div class="dropdown-list">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center uppercase">frequently asked questions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="accordion">

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-1">What's a Beta?<span class="pull-right icon-expand">Expand</span></a>
                        <div id="accordion-1" class="accordion-section-content">
                            <p>It's basically a pilot that's used to get customer feedback. In this case, it's an early version of our new Mobile Banking app – we want your input as we develop the app.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-2">Why is NAB doing this Beta?<span class="pull-right icon-expand">Expand</span></a>
                        <div id="accordion-2" class="accordion-section-content">
                            <p>It's a new way for us to get you involved, to hear what you think, and to give you more of what you want from Mobile Banking.</p>
                            <p>We'll be trying out new features and designs, and using the feedback we get from you to make improvements – and hopefully surpass expectations.</p>

                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-3">Why did you invite me to be part of this Android Closed Beta?<span class="pull-right icon-expand">Expand</span></a>
                        <div id="accordion-3" class="accordion-section-content">
                            <p>This Beta is only for customers who have an Android phone and have the right operating system on their phone. You also need to be a frequent user of mobile internet banking and the current app. Hence the word ‘closed' as it is by invitation only.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-4">How long will the Beta version of the app go for<span class="pull-right icon-expand">Expand</span></a>
                        <div id="accordion-4" class="accordion-section-content">
                            <p>The Closed Beta version of the app will run from 28 April to 19 May and only a selected group of customers will be involved. Then from May, we'll open up the Beta so more NAB customers who use Internet Banking can try it out (Open Beta). You are welcome to stay or leave at any time.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-29">Can I decline an invitation to participate in the NAB Beta?<span class="pull-right icon-expand">Expand</span></a>
                        <div id="accordion-29" class="accordion-section-content">
                            <p>Yes of course. Getting involved in the Beta is completely up to you.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->

                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-34">I've had a NAB Mobile Banking app for a while, why haven't I been invited to participate in a Beta before?<span class="pull-right icon-expand">Expand</span></a>
                        <div id="accordion-34" class="accordion-section-content">
                            <p>Because this is the first Mobile Banking Beta we've ever done!</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->

                </div><!--end .accordion-->
            </div>
        </div>
    </div>
</div>