<div class="flexipanel flexi-with-img">
    <div class="container">
        <div class="row row-large">
            <div class="col-xs-12 col-md-6 col-md-push-6 col-lg-7 col-lg-push-5">
                <div class="flexi-img-container">
                    <img src="assets/img/layout/banner-img.png" alt="" class="flexi-img img-responsive">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-6 col-lg-5 col-lg-pull-7 no-padding-md">
                <div class="display-table flexi-height">
                    <div class="display-table-cell">
                        <div class="flexipanel-content-box">
                            <h2 class="page-heading uppercase">
                                <span class="heading-intro">NAB Classic Banking</span>Spend better
                            </h2>
                            <hr class="seperator"></hr>
                            <p class="text-intro">An everyday account with $0 monthly account fees, ever. NAB Classic Banking helps you spend better every day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>