<div class="flexipanel">
    <div class="container no-padding-md">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="display-table flexi-height">
                    <div class="display-table-cell">
                        <div class="flexipanel-content-box bg-white">
                            <h1 class="page-heading text-black"><span class="heading-intro text-red">Traveller's guide</span><br />Pay like a local</h1>
                            <hr class="seperator" />
                            <p class="text-intro text-black">Nam non commodo erat. Proin tempor, dui ac finibus facilisis,
                                est orci pulvinar arcu, a scelerisque nulla magna sit amet ipsum.
                                Cras sollicitudin nunc lorem, eu faucibus nisl fringilla vel. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>