<footer role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="black">
        <div class="container cf">
            <div id="helpful-links" class="cf">
                <ul>
                    <li><a href="https://www.nab.com.au/about-us/contact-us" style="text-decoration: none; color: rgb(255, 255, 255);">Contact us</a></li>
                    <li><a href="https://www.nab.com.au/locations/" style="text-decoration: none; color: rgb(255, 255, 255);">Find us</a></li>
                    <li><a href="https://www.nab.com.au/personal/feedback" style="text-decoration: none; color: rgb(255, 255, 255);">Feedback</a></li>
                    <li><a href="//www.nab.com.au/common/privacy-policy" style="text-decoration: none; color: rgb(255, 255, 255);">Privacy</a></li>
                </ul>
            </div>
            <div class="social-container">
                <ul id="social">
                    <li><a class="facebook" href="http://www.facebook.com/NAB" target="_blank">Facebook</a></li>
                    <li><a class="google-plus" href="http://plus.google.com/113563644525302634808/posts" target="_blank">Google+</a></li>
                    <li><a class="linked-in" href="http://www.linkedin.com/company/national-australia-bank" target="_blank">LinkedIn</a></li>
                    <li><a class="twitter" href="http://www.twitter.com/NAB" target="_blank">Twitter</a></li>
                    <li><a class="you-tube" href="http://www.youtube.com/user/nab" target="_blank">YouTube</a></li>
                </ul>
            </div>
            <div class="disclaimer">
                <p>&copy; National Australia Bank Limited. <br class="hidden-md hidden-lg"/><a href="/common/website-disclaimer">Website terms</a></p>
            </div>
        </div>
    </div>
</footer>


<!--<footer role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">-->
    <!--<div class="black">-->
        <!--<div class="container cf">-->
            <!--<div id="helpful-links" class="cf">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="//learn.nab.com.au/">Help and Guidance</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="//www.nab.com.au/about-us/using-this-site">Using this site</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end black panel&ndash;&gt;-->

    <!--<div class="container cf">-->
        <!--<div id="disclaimer">-->
            <!--<p>© National Australia Bank Limited. Use of the information contained on this page is governed by Australian law and is subject to the disclaimers which can be read on the <a href="//www.nab.com.au/common/website-disclaimer" rel="nofollow">disclaimer page</a>. View the NAB <a href="//www.nab.com.au/common/privacy-policy" rel="nofollow">privacy policy</a>.</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end disclaimer&ndash;&gt;-->

    <!--&lt;!&ndash; start mobile footer&ndash;&gt;-->
    <!--<nav role="navigation" id="footer-navigation" class="mobile cf">-->
        <!--<ul class="chevron-right-gr">-->
            <!--<li><a title="Go to NAB Home" href="//www.nab.com.au/">Go to NAB Home</a></li>-->
            <!--<li><a href="//www.nab.com.au/contact-us">Call us</a></li>-->
            <!--<li><a href="https://www.nab.com.au/locations">Find us</a></li>-->
        <!--</ul>-->

        <!--<ul id="links-social-media">-->
            <!--<li>-->
                <!--<a href="//www.facebook.com/NAB">-->
                    <!--<img width="30" height="30" border="0" alt="Visit NAB on Facebook" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-facebook.png" />-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="//twitter.com/NAB">-->
                    <!--<img width="30" height="30" border="0" alt="Visit NAB on Twitter" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-twitter.png" />-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="//plus.google.com/+NAB">-->
                    <!--<img width="30" height="30" border="0" alt="Visit NAB on Google+" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-googleplus.png" />-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="//www.youtube.com/user/nab">-->
                    <!--<img width="30" height="30" border="0" alt="Visit NAB's YouTube channel" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-youtube.png">-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="//www.linkedin.com/company/national-australia-bank">-->
                    <!--<img width="30" height="30" border="0" alt="Vist NAB on LinkedIn" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-linkedin.png" />-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<ul class="chevron-right-gr">-->
            <!--<li><a href="//www.nab.com.au/common/website-disclaimer">Disclaimer</a></li>-->
            <!--<li><a href="//www.nab.com.au/common/privacy-policy">Privacy policy</a></li>-->
        <!--</ul>-->
    <!--</nav>-->
    <!--<small class="mobile">&copy; National Australia Bank Ltd.</small>-->
    <!--&lt;!&ndash; end mobile footer&ndash;&gt;-->
<!--</footer>-->