---
imgPath: ../assets/
---

<div class="get-started-bar bg-black">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 hidden-xs">
                <p class="app-bar-text text-white">Open a NAB Classic Banking account online in less than 10 minutes</p>
            </div>
            <div class="col-xs-12 col-sm-2 no-padding-md">
                <div class="action-btn">
                    <a class="btn btn-primary" type="button" href="#" title="Click to get started">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>