---
imgPath: ../assets/
---

<div class="masthead-text-img">
    <div class="container">
        <div class="display-table masthead-height">
            <div class="display-table-cell">
                <div class="row">
                    <div class="col-xs-12 col-md-5 col-md-offset-1 col-md-push-5">
                        <img src="{{imgPath}}img/layout/card-img.png" alt="" class="masthead-img" />
                    </div>
                    <div class="col-xs-12 col-md-5 col-md-pull-6">
                        <div class="masthead-content-box bg-transparent">
                            <h1 class="page-heading text-white"><span class="heading-intro">Traveller's guide</span><br />Pay like a local</h1>
                            <hr class="seperator" />
                            <p class="text-intro text-white">Nam non commodo erat. Proin tempor, dui ac finibus facilisis,
                                est orci pulvinar arcu, a scelerisque nulla magna sit amet ipsum.
                                Cras sollicitudin nunc lorem, eu faucibus nisl fringilla vel. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>