---
imgPath: ../assets/
---

<div class="masthead-text-img short">
    <div class="container no-padding-md">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="display-table masthead-height">
                    <div class="display-table-cell vertical-center">
                        <img src="{{imgPath}}img/layout/masthead-img.png" alt="" class="masthead-img" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="display-table masthead-height">
                    <div class="display-table-cell">
                        <div class="masthead-content-box bg-transparent">
                            <h2 class="page-heading">Better with Visa</h2>
                            <p class="text-intro">
                                Spend your own money when and where you want.
                            </p>
                            <ul class="list-intro">
                                <li>Tap and pay using your NAB Visa Debit card or with NAB Pay on your Android phone</li>
                                <li>Access great deals with Visa Entertainment</li>
                                <li>Protection against fraud with Visa Zero Liability</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
