<div class="table-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center text-white">
                    <h2 class="heading-text uppercase">Say no to fees</h2>
                    <p>You work hard for the money, so why waste it on fees?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-col-container col-xs-12 col-md-10 col-md-offset-1 no-padding-md">
                {{> table}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <p class="additional-info">
                    The monthly account fee is based on standard full banking access transaction accounts on sale by the bank (exclusive of fee waivers based on certain conditions;
                    e.g. special offers, minimum deposits, students, retirees and concession card holders). Other fees, charges, features and benefits may apply. All information
                    is accurate as at 14 June, 2016 and sourced from CANSTAR.
                </p>
            </div>
        </div>
    </div>
</div>