<table class="campaign-table">
    <thead>
        <tr>
            <td></td>
            <td>Monthly Account Fee</td>
            <td>Conditions to avoid monthy fee</td>
            <td>Overdrawn reference fee</td>
            <td>Visa Debit/ Mastercard Debit card included</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>NAB Classic Banking</td>
            <td data-label="NAB Classic Banking">$0</td>
            <td data-label="CBA Complete Access">None</td>
            <td data-label="Westpac Choice">$0</td>
            <td data-label="ANZ Access Advantage"><p class="icon-check red"></p></td>
        </tr>
        <tr>
            <td>CBA Complete Access</td>
            <td data-label="NAB Classic Banking">$6</td>
            <td data-label="CBA Complete Access">Conditions apply</td>
            <td data-label="Westpac Choice">$10</td>
            <td data-label="ANZ Access Advantage"><p class="icon-check black"></p></td>
        </tr>
        <tr>
            <td>Westpac Choice</td>
            <td data-label="NAB Classic Banking">$5</td>
            <td data-label="CBA Complete Access">Conditions apply</td>
            <td data-label="Westpac Choice">$9</td>
            <td data-label="ANZ Access Advantage"><p class="icon-check black"></span>
            </td>
        </tr>
        <tr>
            <td>ANZ Access Advantage </td>
            <td data-label="NAB Classic Banking">$5</td>
            <td data-label="CBA Complete Access">Conditions apply</td>
            <td data-label="Westpac Choice">$6 daily <span class="small-txt">(if overdrawn by >$50 at end of day - capped at $10)</td>
            <td data-label="ANZ Access Advantage"><p class="icon-check black"><span class="sr-only"></span></p></td>
        </tr>
    </tbody>
</table>