<div class="terms-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="accordion">
                    <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-1">
                            Important information<span class="pull-right icon-expand">Expand</span>
                        </a>
                        <div id="accordion-1" class="accordion-section-content">
                            <p>It’s basically a pilot that’s used to get customer feedback. In this case, it’s an early version of our new Mobile Banking app – we want your input as we develop the app.</p>
                        </div><!--end .accordion-section-content-->
                    </div><!--end .accordion-section-->
                </div>
            </div>
        </div>
    </div>
</div>