---
imgPath: ../assets/
---

<div class="three-col-img-text">
    <div class="container">
        <div class="text-center">

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="heading-text uppercase">Bank Better</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="icon-container">
                        <span class="life-icon pay-better-icon"></span>
                    </div>
                    <h3 class="secondary-heading-text">Save better</h3>
                    <p>$0 monthly account fees. $0 overdrawn fees. The way it should be.</p>
                </div>
                <div class="col-md-4">
                    <div class="icon-container">
                        <span class="life-icon manage-better-icon"></span>
                    </div>
                    <h3 class="secondary-heading-text">Manage better</h3>
                    <p>Check your balance instantly with the NAB app, and set up balance alerts through NAB Internet Banking</p>
                </div>
                <div class="col-md-4">
                    <div class="icon-container">
                        <span class="life-icon spend-better-icon"></span>
                    </div>
                    <h3 class="secondary-heading-text">Pay better</h3>
                    <p class="last-child">Pay your friends back in a flash, or request money on the spot with NAB Flik</p>
                </div>
            </div>

        </div>
    </div>
</div>