---
imgPath: ../assets/
---

<div class="two-col-img-text short">
    <div class="container no-padding-md">
        <div class="display-table container-height">
            <div class="display-table-cell">
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <img src="{{imgPath}}img/layout/card-img.png" alt="" width="100%" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="masthead-content-box bg-transparent">
                            <h2 class="page-heading text-black">Life is pretty sweet with no fees!</h2>
                            <p class="text-intro text-black">
                                Be free from $0 monthly fees and $0 over drawn fees.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <img src="{{imgPath}}img/layout/card-img.png" alt="" width="100%" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="masthead-content-box bg-transparent">
                            <h2 class="page-heading text-black">More (SELF) control</h2>
                            <p class="text-intro text-black">
                                Bank whenever it’s convenient with the NAB app and Internet Banking. With the app, you can even check your balance instantly, with NAB Quick Balance
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>