@import "variables.less";
@import "mixins.less";

#content-wrapper {
  .styleguide-spacer {
    height: 40px;
    @media (min-width: @screen-sm) {
      height: 100px;
    }
  }

  .styleguide-menu li {
    background: none;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid @colourLightGrey;
    a{
      .fontSizeLineHeightEm(18,24);
      .fontCorpidLight();
      color: @colourBlack;
      text-decoration: none;
      &:hover{
        color: @colourRed;
      }
    }
  }
}
