.btn {
	padding: 0 @pd20;
	.fontCorpidHeavy();
  	border-radius: 3px;
	text-decoration: none;
	.fontSizeLineHeightEm(@btnTextSizeM,@btnHeightM);
	@media(min-width: @screen-sm){
		.fontSizeLineHeightEm(@btnTextSize,@btnHeight);
	}
	&.btn-red {
		.btnStyle(@btnRedColor,@btnRedBG,@btnRedHoverBG);
	}

	&.btn-black {
		.btnStyle(@btnBlackColor,@btnBlackBG,@btnBlackHoverBG);
	}

	&.btn-green {
		.btnStyle(@btnGreenColor,@btnGreenBG,@btnGreenHoverBG);
	}
  	&.btn-primary{
	  background: @colourRed;
	  color: @colourWhite;
	  border: none;
	}
}

