.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */

.bg-black {
    background: @colourBlack;
}

.bg-lightgrey{
    background: @colourLightGrey
}

.bg-darkgrey {
    background: @colourDarkGrey;
}

.bg-white {
    background: @colourWhite;
}

.bg-transparent {
    background: transparent;
}

.text-white {
    color: @colourWhite;
}

.text-red {
    color: @colourRed;
}

.text-black {
    color: @colourBlack;
}

.uppercase {
    text-transform: uppercase;
}

.no-margin {
    margin: 0;
}
.no-padding{
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.no-padding-md {
    @media (max-width: @screen-md) {
        padding: 0 !important;
    }
}

.no-margin-md {
    @media (max-width: @screen-md) {
        margin: 0 !important;
    }
}

.hidden-md-under {
    @media (max-width: @screen-md) {
        display: none;
    }
}

.display-table {
    display: table;
    table-layout: fixed;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.vertical-bottom{
    vertical-align: bottom;
}

.fix-position {
    position: fixed;
  }