.width-float{
  float: left;
  width: 100%;
}

.fontSizeEm(@target: @basefont, @context: @basefont) {
    font-size: (@target / @context) + 0em;
    line-height: 1em;
}

.fontSizeLineHeightEm(@target: @basefont, @lineheight: @basefont, @context: @basefont) {
    font-size: (@target / @context) + 0em;
    line-height: (@lineheight / @target) + 0em;
}

/** Fonts **/
@font-face {
	font-family:'CorpidLight';
	src:url('../fonts/CorpidC1_3.eot');
	src:local('?'), url('../fonts/CorpidC1_3.woff') format('woff'),
		url('../fonts/CorpidC1_3.svg#CorpidC1_3') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'CorpidHeavy';
	src:url("../fonts/CorpidC1_8.eot");
	src:local('?'), url("../fonts/CorpidC1_8.woff") format("woff"),
		url("../fonts/CorpidC1_8.svg#CorpidC1_8") format("svg");
	font-weight: bold;
	font-style: normal;
}
@font-face {
 font-family:'NabScript';
 src: url('../fonts/NABDigital-Script.eot');
 src: url('../fonts/NABDigital-Script.eot?#iefix') format('embedded-opentype'),
 url('../fonts/NABDigital-Script.woff2') format('woff2'),
 url('../fonts/NABDigital-Script.woff') format('woff'),
 url('../fonts/NABDigital-Script.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
  font-family: 'NabImpact';
  src: url('../fonts/nab_impact-webfont.eot');
  src: url('../fonts/nab_impact-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nab_impact-webfont.woff2') format('woff2'),
  url('../fonts/nab_impact-webfont.woff') format('woff'),
  url('../fonts/nab_impact-webfont.ttf') format('truetype'),
  url('../fonts/nab_impact-webfont.svg#NabImpact') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fontArial() {
	font-family: Arial, Helvetica, sans-serif;
}

.fontCorpidHeavy() {
	font-family: 'CorpidHeavy', Arial, Helvetica, sans-serif;
	//font-style: normal;
	font-weight: bold;
}

.fontCorpidLight() {
	font-family: 'CorpidLight', Arial, Helvetica, sans-serif;
	//font-style: normal;
	font-weight: normal;
}

.fontNabScript(){
  font-family: 'NabScript', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.fontNabImpact(){
  font-family: 'NabImpact', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.borderRadius(@Pixels) {
	-webkit-border-radius: ~"@{Pixels}px";
	-moz-border-radius: ~"@{Pixels}px";
	border-radius: ~"@{Pixels}px";
}

.borderRadiusTop(@Pixels) {
	-webkit-border-radius: ~"@{Pixels}px" ~"@{Pixels}px" 0 0;
	-moz-border-radius: ~"@{Pixels}px" ~"@{Pixels}px" 0 0;
	border-radius: ~"@{Pixels}px" ~"@{Pixels}px" 0 0;
}

.linearGradientVert(@start, @stop, @fallback) {
	background:@fallback; 	
	background:-moz-linear-gradient(top, @start 0%, @stop 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4b4c), color-stop(100%,@stop)); 
	background:-webkit-linear-gradient(top, @start 0%,@stop 100%); 
	background:-o-linear-gradient(top, @start 0%,@stop 100%); 
	background:-ms-linear-gradient(top, @start 0%,@stop 100%); 
	background:linear-gradient(to bottom, @start 0%,@stop 100%); 
}

.btnStyle(@color,@bgColor,@bgColorActive) {
	color: @color;
	background-color: @bgColor;
	&:hover, &:active, &:focus {
		color: @color;
		background-color: @bgColorActive;
	}
}

.sizeElement(@width,@height) {
	width: @width;
	height: @height;
}

.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}