body {
    font-size: 112.5%;
}

.campaign #main {
    padding: 140px 0 40px;
    margin-bottom: 60px;
}

.campaign #logo {
    z-index: 10;
}

@media screen and (max-width: 767px) {
    .campaign #main {
        padding: 80px 0 40px;
        margin-bottom: 40px;
    }
}

a.button {
    .fontCorpidHeavy();
}

.white {
    background-color: #fff;
}

#content-wrapper {
    padding: 0 0 130px;
}

#social {
    position: relative;
    top: auto;
    right: auto;
    z-index: inherit;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

footer {
    text-align: center;
    @media (min-width: @screen-md) {
        text-align: left;
        height: 178px;
        background: @colourBlack;
    }

    .black{
        padding: 40px 0 !important;
    }

    #helpful-links {
        @media (min-width: @screen-md) {
            float: left;
            width: 50%;
        }

        ul {
            padding: 0;
            li {
                text-align: center;
                background: none;
                padding-left: 0;
                display: inline-block;
                float: none;
                @media (min-width: @screen-md) {
                    float: left;
                    text-align: left;
                    padding-right: 50px;
                }

                a{
                    .fontSizeLineHeightEm(16,16);
                    &:link {
                        .fontCorpidLight();
                        text-decoration: underline;
                    }
                    &:hover{
                        text-decoration: none;
                    }
                }

            }
        }
    }
    .social-container {
        @media (min-width: @screen-md) {
            float: right;
            width: 30%;
        }
        #social {
            @media (min-width: @screen-md) {
                max-width: 400px;
            }
            margin: 0 auto;

            li {
                list-style: none;
                text-align: center;
                display: block;
                float: left;
                width: 16%;
                margin: 20px 2%;

                a {
                    width: 100%;
                    display: block;
                    color: #fcfeff;
                    border-bottom: none;

                    &.facebook {
                        background: url(../img/sprites/nab-sprite.svg) center 80.9% no-repeat;
                        background-size: 105px calc(2625px);
                        height: 30px;
                        font: 0/0 a;
                        color: transparent;
                        text-shadow: none;
                        border: 0;
                    }

                    &.google-plus {
                        background: url(../img/sprites/nab-sprite.svg) center 84.9% no-repeat;
                        background-size: 105px calc(2625px);
                        height: 30px;
                        font: 0/0 a;
                        color: transparent;
                        text-shadow: none;
                        border: 0;
                    }

                    &.linked-in {
                        background: url(../img/sprites/nab-sprite.svg) center 89% no-repeat;
                        background-size: 105px calc(2625px);
                        height: 30px;
                        font: 0/0 a;
                        color: transparent;
                        text-shadow: none;
                        border: 0;
                    }

                    &.twitter {
                        background: url(../img/sprites/nab-sprite.svg) center 93% no-repeat;
                        background-size: 105px calc(2625px);
                        height: 30px;
                        font: 0/0 a;
                        color: transparent;
                        text-shadow: none;
                        border: 0;
                    }

                    &.you-tube {
                        background: url(../img/sprites/nab-sprite.svg) center 97.05% no-repeat;
                        background-size: 105px calc(2625px);
                        height: 30px;
                        font: 0/0 a;
                        color: transparent;
                        text-shadow: none;
                        border: 0;
                    }
                }
            }
        }

    }

    .disclaimer {
        clear: both;
        padding-top: 20px;
        text-align: center;
        @media (min-width: @screen-sm) {
            .fontSizeLineHeightEm(14, 14);
        }
        @media (min-width: @screen-md) {
            padding-top: 5px;
        }

        a:link {
            color: @colourWhite;
        }
    }
}



