h1,
h2 {
    .fontNabImpact();
}

h3,
h4 {
    .fontNabScript();
}

h5,
h6 {
    .fontCorpidHeavy();
}

h1 {
    .fontSizeLineHeightEm(@h1SizeM, @h1LineHeightM);
    @media(min-width: @screen-sm) {
        .fontSizeLineHeightEm(@h1Size, @h1LineHeight);
    }
}

h2 {
    .fontSizeLineHeightEm(@h2SizeM, @h2LineHeightM);
    @media(min-width: @screen-sm) {
        .fontSizeLineHeightEm(@h2Size, @h2LineHeight);
    }
    &.large {
        .fontSizeLineHeightEm(@h2SizeM, @h2LineHeightM);
        @media(min-width: @screen-sm) {
            .fontSizeLineHeightEm(@h2LgSize, @h2LgLineHeight);
        }
    }
}

h3 {
    .fontSizeLineHeightEm(@h3SizeM, @h3LineHeightM);
    @media(min-width: @screen-sm) {
        .fontSizeLineHeightEm(@h3Size, @h3LineHeight);
    }
}

h4 {
    .fontSizeLineHeightEm(@h4SizeM, @h4LineHeightM);
    @media(min-width: @screen-sm) {
        .fontSizeLineHeightEm(@h4Size, @h4LineHeight);
    }
}

h5 {
    .fontSizeLineHeightEm(@h5SizeM, @h5LineHeightM);
    @media(min-width: @screen-sm) {
        .fontSizeLineHeightEm(@h5Size, @h5LineHeight);
    }
}

h6 {
    .fontSizeLineHeightEm(@h6SizeM, @h6LineHeightM);
    @media(min-width: @screen-sm) {
        .fontSizeLineHeightEm(@h6Size, @h6LineHeight);
    }
}

.page-heading {
    .fontNabImpact();
    .heading-intro {
        .fontNabScript();
    }
}

input, label, li, p, select, td, textarea, th {
    .fontCorpidLight();
    .fontSizeLineHeightEm(@textSizeM, @textLineHeightM);
    @media (min-width: @screen-sm) {
        .fontSizeLineHeightEm(@textSize, @textLineHeight);
    }
    strong {
        .fontCorpidHeavy();
    }
}
    
/* .terms {
    .fontSizeLineHeightEm(@termSizeM, @termLineHeightM);
    @media (min-width: @screen-sm) {
        .fontSizeLineHeightEm(@termSize, @termLineHeight);
    }
}
 */