.second-link {
    display: inline-block;
    .fontCorpidLight();
    text-decoration: none;
    &.btn-black {
        .border-radius(0px);
    }
    &.txt-red {
        color: @colourRed;
    }
    &.txt-black {
        color: @colourBlack;
    }
    &.txt-white {
        color: @colourWhite;
    }
    &.txt-underline {
        text-decoration: underline;
    }
    .right-arrow {
        background-image: url("@{imagePath}sprites/right-arrow-sprites.png");
        background-repeat: no-repeat;
        display: inline-block;
        .sizeElement(6px,
        12px);
        margin-left: 20px;
        &.red-ra {
            background-position: center top;
        }
        &.white-ra {
            background-position: center bottom;
        }
    }
}
