//bootstrap variables

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


// Create variables & mixins
@imagePath: 	"../img/";


@basefont: 18; // in pixels
@colourRed: #c20000;
@colourRedHover: #a20000;
@colourLightGrey: #f2f4f6;
@colourMidGrey: #e1e3e6;
@colourDarkGrey: #4c626c;
@tableBorderColour: #dddddd;
@colourBlack: #000000;
@colourBlackHover: #282828;
@colourWhite: #ffffff;
@colourGreen: #697f00;
@colourGreenHover: #697f00;
@borderRadiusBase: 3px;
// Heading 1
@h1Size: 66;
@h1LineHeight: 64;

@h1SizeM: 92;
@h1LineHeightM: 92;

// Heading 2
@h2Size: 41;
@h2LineHeight: 39;
@h2LgSize: 56;
@h2LgLineHeight: 56;

@h2SizeM: 72;
@h2LineHeightM: 64;

// Heading 3
@h3Size: 36;
@h3LineHeight: 41;

@h3SizeM: 28;
@h3LineHeightM: 38;

// Heading 4
@h4Size: 30;
@h4LineHeight: 41;

@h4SizeM: 24;
@h4LineHeightM: 38;

// Heading 5
@h5Size: 30;
@h5LineHeight: 41;

@h5SizeM: 26;
@h5LineHeightM: 38;

// Heading 6
@h6Size: 22;
@h6LineHeight: 26;

@h6SizeM: 20;
@h6LineHeightM: 24;


@textSize: 18;
@textLineHeight: 28;

@textSizeM: 16;
@textLineHeightM: 22;

@termSize: 16;
@termLineHeight: 24;

@termSizeM: 14;
@termLineHeightM: 19;

// Button
@btnHeight: 42;
@btnTextSize: 16;

@btnHeightM: 35;
@btnTextSizeM: 14;

@btnRedColor:              	 @colourWhite;
@btnRedBG:                   @colourRed;
@btnRedHoverBG: 		     @colourRedHover;

@btnBlackColor:              @colourWhite;
@btnBlackBG:                 @colourBlack;
@btnBlackHoverBG: 			 @colourBlackHover;

@btnGreenColor:              @colourWhite;
@btnGreenBG:                 @colourGreen;
@btnGreenHoverBG: 			 @colourGreenHover;

@btnBorderRadius:     		 @borderRadiusBase;

@pd20: 						 20px; 
