---
title: NAB - Styleguide - Base
layout: styleguide.hbs
---
{{> styleguide-spacer}}

<div class="white">
    <div class="container">
    	<a type="button" class="btn btn-red" href="#">Primary Call To Action</a>
    	<br><br>
    	<a type="button" class="btn btn-black" href="#">Primary Call To Action</a>
    </div>
</div>