---
title: NAB - Styleguide - Base
layout: styleguide.hbs
---
{{> styleguide-spacer}}

<div class="white">
    <div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item">
						Lorem ipsum dolor sit amet.
					</li>
					<li class="list-group-item">
						Lorem ipsum dolor sit amet.
					</li>
					<li class="list-group-item">
						Lorem ipsum dolor sit amet.
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ol class="list-group">
		            <li class="list-group-item">
		                Lorem ipsum dolor sit amet.
		            </li>
		            <li class="list-group-item">
		                Lorem ipsum dolor sit amet.
		            </li>
		            <li class="list-group-item">
		                Lorem ipsum dolor sit amet.
		            </li>
		        </ol>
	        </div>
        </div>
    </div>
</div>