---
title: NAB - Styleguide - Base
layout: styleguide.hbs
---
{{> styleguide-spacer}}

<div class="white">
    <div class="container">
		<a href="#" title="#" class="second-link txt-red txt-underline">Secondary Call To Action</a>
        <br><br>
		<a href="#" title="#" class="second-link txt-black txt-underline">Secondary Call To Action</a>
        <br><br>
		<a href="#" title="#" class="second-link txt-red">Secondary Call To Action<span class="right-arrow red-ra"></span></a>
        <br><br>
		<a href="#" title="#" class="second-link txt-black">Secondary Call To Action<span class="right-arrow red-ra"></span></a>
        <br><br>
		<a href="#" title="#" type="button" class="second-link btn btn-black">Secondary Call To Action<span class="right-arrow white-ra"></span></a>
    </div>
</div>