<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Campaign responsive template - NAB</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="keywords" content="" />
    <meta property="fb:page_id" content="174238599281322" />
    <meta property="twitter:account_id" content="7302852" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- Sripts -->
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/jquery.min.js"></script>
    <script type="text/javascript" src="//nexus.ensighten.com/nab/dev/Bootstrap.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/utils.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/jquery/granite.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/foundation/jquery.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/content/dam/nabcampaigns/nab/js/clientlibs.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/foundation/jquery-ui.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="etc/designs/bootstrap/bootstrap-managed-designs/bootstrap-nabcampaigns/clientlibs.min.css" type="text/css">
    <link rel="stylesheet" href="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-jqueryui.css" type="text/css">

    <!-- print.css -->
    <link rel="stylesheet" media="print" href="//www.nab.com.au/content/dam/nabcampaigns/nab/css/print.css" type="text/css"/>

    <!-- iOS tile icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-57-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-144-precomposed.png"/>

    <!-- Browser favicon -->
    <link rel="icon" href="//www.nab.com.au/content/dam/nabcampaigns/nab/images/favicon.png" type="image/x-icon"/>

    <!-- Browser script -->
    <script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-modernizr.js"></script>

    <link rel="stylesheet" href="assets/css/custom.css" type="text/css">

</head>
<body itemscopeitemtype="http://schema.org/WebPage" class="campaign">
<div id="wrapper" class="cf">

    <header role="banner">
        <div class="container cf">
            <nav id="skiplinks" role="navigation">
                <ul>
                    <li><a href="#login">Skip to Login</a></li>
                    <li><a href="#content">Skip to Content</a></li>
                    <li><a href="#primary-navigation">Skip to Navigation</a></li>
                    <li><a href="#search">Skip to Search</a></li>
                </ul>
            </nav>
        </div>
        <!-- <div id="strapline" class="container cf">
            <!-<img title="slogan" alt="more give, less take" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/slogan.png">->
            <nav id="shortcuts" role="navigation">
                <ul>
                    <li><a href="//www.nab.com.au/contact-us">Contact us</a></li>
                    <li><a href="https://www.nab.com.au/locations" target='_blank'>Locations</a></li>
                </ul>
            </nav>
        </div> -->
        <div class="container cf">
            <a id="home-link" class="mobile" href="//www.nab.com.au/">NAB Home</a>
            <div class="logo">
                <a id="logo" itemprop="url" href="//www.nab.com.au/">
                    <img itemprop="image" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/nab-logo.png" alt="National Australia Bank" class="retina"/>
                </a>
            </div>
        </div>
    </header>
    <!-- end header-->


    <div id="content-wrapper">
        <main role="main" id="content">
            {{>body}}
        </main>
        <!-- end main-->
    </div>
    <!-- end content wrapper-->
</div>
<!-- end wrapper-->

<footer role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="black">
        <div class="container cf">
            <div id="helpful-links" class="cf">
                <ul>
                    <li><a href="https://www.nab.com.au/about-us/contact-us" style="text-decoration: none; color: rgb(255, 255, 255);">Contact us</a></li>
                    <li><a href="https://www.nab.com.au/locations/" style="text-decoration: none; color: rgb(255, 255, 255);">Find us</a></li>
                    <li><a href="https://www.nab.com.au/personal/feedback" style="text-decoration: none; color: rgb(255, 255, 255);">Feedback</a></li>
                    <li><a href="//www.nab.com.au/common/privacy-policy" style="text-decoration: none; color: rgb(255, 255, 255);">Privacy</a></li>
                </ul>
            </div>
            <div class="social-container">
                <ul id="social">
                    <li><a class="facebook" href="http://www.facebook.com/NAB" target="_blank">Facebook</a></li>
                    <li><a class="google-plus" href="http://plus.google.com/113563644525302634808/posts" target="_blank">Google+</a></li>
                    <li><a class="linked-in" href="http://www.linkedin.com/company/national-australia-bank" target="_blank">LinkedIn</a></li>
                    <li><a class="twitter" href="http://www.twitter.com/NAB" target="_blank">Twitter</a></li>
                    <li><a class="you-tube" href="http://www.youtube.com/user/nab" target="_blank">YouTube</a></li>
                </ul>
            </div>
            <div class="disclaimer">
                <p>&copy; National Australia Bank Limited. <br class="hidden-md hidden-lg"/><a href="/common/website-disclaimer">Website terms</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- browser scripts-->
<script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-jquery.js"></script>
<script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-jqueryui.js"></script>
<!-- site theme js -->
<script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-managed-designs/bootstrap-nabcampaigns/clientlibs.js"></script>

<script type="text/javascript" src="assets/js/script-foot.min.js"></script>
</body>
</html>
