<!DOCTYPE HTML>
<html>
<head>

    <!-- Sripts -->
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/jquery.min.js"></script>
    <script type="text/javascript" src="//nexus.ensighten.com/nab/dev/Bootstrap.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/utils.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/jquery/granite.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/foundation/jquery.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/content/dam/nabcampaigns/nab/js/clientlibs.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/foundation/jquery-ui.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="../etc/designs/bootstrap/bootstrap-managed-designs/bootstrap-nabcampaigns/clientlibs.min.css" type="text/css">
    <link rel="stylesheet" href="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-jqueryui.css" type="text/css">

    <!-- print.css -->
    <link rel="stylesheet" media="print" href="//www.nab.com.au/content/dam/nabcampaigns/nab/css/print.css" type="text/css"/>

    <!-- iOS tile icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-57-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-144-precomposed.png"/>

    <!-- Browser favicon -->
    <link rel="icon" href="//www.nab.com.au/content/dam/nabcampaigns/nab/images/favicon.png" type="image/x-icon"/>

    <!-- Browser script -->
    <script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-modernizr.js"></script>

    <link rel="stylesheet" href="../assets/css/custom.css" type="text/css">

</head>
<body itemscopeitemtype="http://schema.org/WebPage" class="campaign">

<div id="content-wrapper">
    <main role="main" id="content">

        {{>body}}

    </main>
</div>

<script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-jquery.js"></script>
<script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-jqueryui.js"></script>
<!-- site theme js -->
<script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-managed-designs/bootstrap-nabcampaigns/clientlibs.js"></script>

<script type="text/javascript" src="../assets/js/script-foot.min.js"></script>
</body>
</html>
