<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Campaign responsive template - NAB</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="keywords" content="" />
    <meta property="fb:page_id" content="174238599281322" />
    <meta property="twitter:account_id" content="7302852" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- Sripts -->
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/jquery.min.js"></script>
    <script type="text/javascript" src="//nexus.ensighten.com/nab/dev/Bootstrap.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/utils.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/jquery/granite.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/foundation/jquery.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/content/dam/nabcampaigns/nab/js/clientlibs.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/granite/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//www.nab.com.au/etc/clientlibs/foundation/jquery-ui.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="../etc/designs/bootstrap/bootstrap-managed-designs/bootstrap-nabcampaigns/clientlibs.min.css" type="text/css">
    <link rel="stylesheet" href="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-jqueryui.css" type="text/css">

    <!-- print.css -->
    <link rel="stylesheet" media="print" href="//www.nab.com.au/content/dam/nabcampaigns/nab/css/print.css" type="text/css"/>

    <!-- iOS tile icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-57-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/apple-touch-icon-144-precomposed.png"/>

    <!-- Browser favicon -->
    <link rel="icon" href="//www.nab.com.au/content/dam/nabcampaigns/nab/images/favicon.png" type="image/x-icon"/>

    <!-- Browser script -->
    <script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-modernizr.js"></script>

    <link rel="stylesheet" href="../assets/css/custom.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/styleguide.css" type="text/css">

</head>
<body itemscopeitemtype="http://schema.org/WebPage" class="campaign">
<div id="wrapper" class="cf">

    <header role="banner">
        <div class="container cf">
            <nav id="skiplinks" role="navigation">
                <ul>
                    <li><a href="#login">Skip to Login</a></li>
                    <li><a href="#content">Skip to Content</a></li>
                    <li><a href="#primary-navigation">Skip to Navigation</a></li>
                    <li><a href="#search">Skip to Search</a></li>
                </ul>
            </nav>
        </div>
        <div id="strapline" class="container cf">
            <img title="slogan" alt="more give, less take" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/slogan.png">
            <nav id="shortcuts" role="navigation">
                <ul>
                    <li><a href="//www.nab.com.au/contact-us">Contact us</a></li>
                    <li><a href="https://www.nab.com.au/locations" target='_blank'>Locations</a></li>
                </ul>
            </nav>
        </div>
        <div class="container cf">
            <a id="home-link" class="mobile" href="//www.nab.com.au/">NAB Home</a>
            <div class="logo">
                <a id="logo" itemprop="url" href="//www.nab.com.au/">
                    <img itemprop="image" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/nab-logo.png" alt="National Australia Bank" class="retina"/>
                </a>
            </div>
        </div>
    </header>
    <!-- end header-->

    <div class="sidepanel">
        <ul id="social" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
            <li>
                <a itemprop="url" href="//www.facebook.com/NAB" rel="nofollow">
                    <img itemprop="image" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-facebook.png" alt="Visit NAB on Facebook" class="retina">
                </a>
                <span class="label" itemprop="name">Visit NAB on Facebook</span>
            </li>
            <li>
                <a itemprop="url" href="//twitter.com/NAB" rel="nofollow">
                    <img itemprop="image" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-twitter.png" alt="Visit NAB on Twitter" class="retina">
                </a>
                <span class="label" itemprop="name">Visit NAB on Twitter</span>
            </li>
            <li>
                <a itemprop="url" href="//www.youtube.com/user/nab" rel="nofollow">
                    <img itemprop="image" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-youtube.png" alt="Visit NAB's YouTube channel" class="retina">
                </a>
                <span class="label" itemprop="name">Visit NAB's YouTube channel</span>
            </li>
            <li>
                <a itemprop="url" href="//plus.google.com/+NAB" rel="nofollow">
                    <img itemprop="image" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-googleplus.png" alt="Visit NAB on Google+" class="retina">
                </a>
                <span class="label" itemprop="name">Visit NAB on Google+</span>
            </li>
            <li>
                <a itemprop="url" href="//www.linkedin.com/company/national-australia-bank" rel="nofollow">
                    <img itemprop="image" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-linkedin.png" alt="Visit NAB on LinkedIn" class="retina">
                </a>
                <span class="label" itemprop="name">Visit NAB on LinkedIn</span>
            </li>
        </ul>
        <a href="//www.nab.com.au/personal/feedback" rel="nofollow" id="feedback-button">Feedback</a>
    </div>
    <!-- end sidepanel-->

    <div id="content-wrapper">
        <main role="main" id="content">
            {{>body}}
        </main>
        <!-- end main-->
    </div>
    <!-- end content wrapper-->
</div>
<!-- end wrapper-->

<footer role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="black">
        <div class="container cf">
            <div id="helpful-links" class="cf">
                <ul>
                    <li>
                        <a href="//learn.nab.com.au/">Help and Guidance</a>
                    </li>
                    <li>
                        <a href="//www.nab.com.au/about-us/using-this-site">Using this site</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end black panel-->

    <div class="container cf">
        <div id="disclaimer">
            <p>© National Australia Bank Limited. Use of the information contained on this page is governed by Australian law and is subject to the disclaimers which can be read on the <a href="//www.nab.com.au/common/website-disclaimer" rel="nofollow">disclaimer page</a>. View the NAB <a href="//www.nab.com.au/common/privacy-policy" rel="nofollow">privacy policy</a>.</p>
        </div>
    </div>
    <!-- end disclaimer-->

    <!-- start mobile footer-->
    <nav role="navigation" id="footer-navigation" class="mobile cf">
        <ul class="chevron-right-gr">
            <li><a title="Go to NAB Home" href="//www.nab.com.au/">Go to NAB Home</a></li>
            <li><a href="//www.nab.com.au/contact-us">Call us</a></li>
            <li><a href="https://www.nab.com.au/locations">Find us</a></li>
        </ul>

        <ul id="links-social-media">
            <li>
                <a href="//www.facebook.com/NAB">
                    <img width="30" height="30" border="0" alt="Visit NAB on Facebook" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-facebook.png" />
                </a>
            </li>
            <li>
                <a href="//twitter.com/NAB">
                    <img width="30" height="30" border="0" alt="Visit NAB on Twitter" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-twitter.png" />
                </a>
            </li>
            <li>
                <a href="//plus.google.com/+NAB">
                    <img width="30" height="30" border="0" alt="Visit NAB on Google+" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-googleplus.png" />
                </a>
            </li>
            <li>
                <a href="//www.youtube.com/user/nab">
                    <img width="30" height="30" border="0" alt="Visit NAB's YouTube channel" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-youtube.png">
                </a>
            </li>
            <li>
                <a href="//www.linkedin.com/company/national-australia-bank">
                    <img width="30" height="30" border="0" alt="Vist NAB on LinkedIn" class="retina" src="http://www.nab.com.au/content/dam/nabcampaigns/nab/images/social-linkedin.png" />
                </a>
            </li>
        </ul>
        <ul class="chevron-right-gr">
            <li><a href="//www.nab.com.au/common/website-disclaimer">Disclaimer</a></li>
            <li><a href="//www.nab.com.au/common/privacy-policy">Privacy policy</a></li>
        </ul>
    </nav>
    <small class="mobile">&copy; National Australia Bank Ltd.</small>
    <!-- end mobile footer-->
</footer>
<!-- browser scripts-->
<script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-jquery.js"></script>
<script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-base-design/bootstrap-base/clientlibs-jqueryui.js"></script>
<!-- site theme js -->
<script type="text/javascript" src="//nab.com.au/etc/designs/bootstrap/bootstrap-managed-designs/bootstrap-nabcampaigns/clientlibs.js"></script>

<script type="text/javascript" src="../assets/js/script-foot.min.js"></script>
</body>
</html>
