.table-container {
  	.width-float();
	background: @colourRed url("../img/layout/table-bg.png") top left repeat;
	padding: 40px 0;
	@media (min-width: @screen-md){
	  padding: 100px 0;
	}
	.heading-text{
	  .fontSizeLineHeightEm(36,36);
	  margin: 0 0 25px 0;
	  @media (min-width: @screen-md){
		.fontSizeLineHeightEm(41,41);
	  }
	}
	p{
	  .fontSizeLineHeightEm(16,22);
	  margin: 0 0 25px 0;
	  @media (min-width: @screen-md){
		.fontSizeLineHeightEm(20,28);
		margin: 0 0 50px 0;
	  }
	}
	.additional-info {
		padding-top: 25px;
	  	//display: none;
	  	 color: @colourWhite;
		@media (min-width: @screen-md){
		  display: block;
		  .fontSizeLineHeightEm(13, 17);
		  color: @colourWhite;
		  margin-top: 0;
		}
	}
}
