.open-account {
    .width-float();
    padding: 40px 0;
    .img-card {
        text-align: center;
        width: 170px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .info {
        .fontSizeLineHeightEm(20, 130.5);
        .fontCorpidLight();
        color: @colourBlack;
        text-align: center;
        margin: 20px 0 0 0;
        font-weight: bold;

         @media(max-width: @screen-md) {
        .fontSizeLineHeightEm(20, 24);
       
        }

    }
    .action-btn {
        margin: 30px 0 0 0;
        text-align: center;
    }
    @media(min-width: @screen-md) {
        .img-card {
            float: right;
            margin: 0;
        }
        .info {
            margin: 40px 0 0 0;
            .fontSizeLineHeightEm(24, 30);
        }
        .action-btn {
            margin: 35px 0 0 0;
            text-align: left;
        }
    }
}
