#content-wrapper .nav-bar{
  .width-float();
  background: @colourBlack;
  position: relative;
  @media (min-width: @screen-md){
    max-height: 70px;
    overflow: hidden;
  }
  .nav-dropdown{
    @media (min-width: @screen-md){
      display: none;
    }
  }
  .nav-collapse{
    float: none;
    .nav-bar-nav{
      margin: 0;
    }
    .nav-bar-nav li{
      background: none;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid @colourDarkGrey;
      &:first-child{
        border-top: 1px solid @colourDarkGrey;
      }
      a{
        padding: 20px 25px 20px 15px;
      }
      @media (min-width: @screen-md){
        display: inline-block;
        width: auto;
        border: none;
        &:first-child{
          border: none;
        }
        a{
          padding: 25px 25px 25px 40px;
        }
      }
      @media (min-width: @screen-lg){
        a{
          padding: 25px 35px 25px 45px;
        }
      }
    }
    @media (min-width: @screen-md){
      float: left;
    }
  }
  .nav-bar-right{
    position: absolute;
    top: 0;
    right: 0;
    @media (min-width: @screen-md){
      position: relative;
      float: right;
    }
    a{
      background: @colourRed;
      padding: 20px 50px;
      @media (min-width: @screen-md){
        padding: 25px 70px;
        .fontSizeLineHeightEm(20,20);
      }
    }
  }
  a{
    .fontCorpidLight();
    .fontSizeLineHeightEm(16,16);
    color: @colourWhite;
    text-decoration: none;
    display: block;
    @media (min-width: @screen-md){
      .fontSizeLineHeightEm(20,20);
    }
    &:focus{
      outline: none;
    }
  }
  .nav-dropdown-toggle{
    background: none;
    padding: 20px 0 20px 15px;
    .fontCorpidLight();
    .fontSizeLineHeightEm(16,16);
    color: @colourWhite;
    border: none;
    display: block;
    width: calc(~"100% - 200px");
    text-align: left;
    &:focus{
      outline: none;
    }
  }
}
