.dropdown-list{
  .width-float();
  padding: 40px 0;
  @media (min-width: @screen-md){
    padding: 80px 0;
  }
}

.accordion, .accordion * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.accordion {
  overflow:hidden;
  border-bottom: 1px solid @colourLightGrey;
  .accordion-section-title {
    position: relative;
    width:100%;
    padding:24px 40px 20px 20px;
    display:inline-block;
    border-top:1px solid @colourLightGrey;
    &.accordion-parent{
      background: @colourLightGrey;
      border-top:1px solid @colourWhite;
    }
    .fontCorpidHeavy();
    color: @colourBlack;
    text-decoration: none;
    &:hover,
    &:active{
      color: @colourRed;
    }
    &:focus{
      outline: none;
    }
    @media (min-width: @screen-sm){
    }
    .icon-expand{
      position: absolute;
      top: calc(50% - 8px);
      right: 20px;
      display: inline-block;
      text-indent: -9999em;
      background: url(../img/layout/icon-cross.png) center right no-repeat;
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      -ms-transition: all .3s;
      transition: all .3s;
      &.rotate{
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      @media (min-width: @screen-sm){
        top: calc(50% - 10px);
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
  .accordion-section-content {
    .fontCorpidLight();

    color: @colourBlack;
    padding: 20px;
    display:none;
    p{
      margin: 0;
    }
    &.accordion-content-parent{
      padding: 0;
    }
  }
}