.flexipanel {
    .width-float();
    background: @colourRed url("../img/layout/banner-circular-bg.png") top left repeat;
    .flexi-img-container{
        width: 220px;
        margin: 40px auto 20px;
        img{
            width: 100%;
        }
        @media (min-width: @screen-md){
            margin-top: 100px;
            width: 100%;
        }
    }
    .flexipanel-content-box{
        padding: 30px 15px 15px;
        background: @colourWhite;
        @media (min-width: @screen-md){
            background: none;
            padding: 0;
        }
        @media (min-width: @screen-lg){
            background: none;
            padding: 0 90px 0 0;
        }
        .page-heading{
            margin: 0;
            .fontSizeLineHeightEm(45,45);
            color: @colourBlack;
            .heading-intro{
                .fontSizeLineHeightEm(26,26,45);
                color: @colourRed;
                text-transform: none;
                display: block;
            }
            @media (min-width: @screen-md){
                .fontSizeLineHeightEm(90,110);
                color: @colourWhite;
                .heading-intro{
                    .fontSizeLineHeightEm(36,36,90);
                    color: @colourWhite;
                }
            }
        }

         .seperator {
        margin: 0 0 10px 0;
        }
        .text-intro{
            color: @colourBlack;
            .fontSizeLineHeightEm(16,22);
            margin: 0;
            @media (min-width: @screen-md){
                color: @colourWhite;
                .fontSizeLineHeightEm(20,28);
            }
        }
    }
    .flexi-height{
        width: 100%;
        @media (min-width: @screen-md){
            height: 600px;
        }
        @media (min-width: @screen-lg){
            height: 800px;
        }
    }
}
