.get-started-bar{
  .width-float();
  height: 50px;
  overflow: hidden;
  z-index: 1;
  @media(min-width: @screen-md){
    height: 70px;
  }
  .app-bar-text{
    .fontCorpidLight();
    .fontSizeLineHeightEm(14,14);
    padding: 18px 0 0 0;
    @media(min-width: @screen-md){
      .fontSizeLineHeightEm(21,21);
      padding: 25px 0;
    }
  }
  .action-btn .btn-primary{
    .fontCorpidHeavy();
    .fontSizeLineHeightEm(14,14);
    padding: 18px 20px;
    float: right;
    text-align: center;
    @media (min-width: @screen-md){
      .fontSizeLineHeightEm(18,18);
      padding: 28px 30px;
    }
     @media (max-width: @screen-xs){
     width: 100%;
    }
  }
 }

