.icon-contact{
  background: none;
  @media(min-width: @screen-md){
    background: url(../img/sprites/contact-sprite.png) 0 0 no-repeat;
    &.icon-callback{
      background-position: 0 18px;
    }
    &.icon-callus{
      background-position: 0 -82px;
    }
    &.icon-visit{
      background-position: 0 -182px;
    }
  }
}

.icon-arrow{
  background: url(../img/sprites/arrow-sprite.png) 0 0 no-repeat;
  background-size: 10px 50px;
  display: inline-block;
  width: 10px;
  height: 10px;
  &.icon-arrow-down{
    background-position: 0 5px;
  }
  &.icon-arrow-up{
    background-position: 0 -20px;
  }
}

.icon-check {
  background: url(../img/sprites/icon-check.png) 0 0 no-repeat;
  background-size: 34px 14px;
  display: inline-block;
  width: 17px;
  height: 14px;
  &.red {
  background-position: 0 0;
  }
  &.black{
  background-position: -17px 0;
  }


}