.masthead-text-img {
    .width-float();
    background: @colourLightGrey top center no-repeat;
    .display-table{
        width: 100%;
    }
    .masthead-img {
        display: block;
        width: 280px;
        height: auto;
        margin: 35px auto 0;
    }
    .masthead-content-box {
        padding: 25px 15px 40px 15px;
        .page-heading {
            text-transform: uppercase;
            color: @colourBlack;
            .fontSizeLineHeightEm(46,46);
        }
        .text-intro {
            margin: 0;
            color: @colourBlack;
            .fontSizeLineHeightEm(16,22);
        }
        .list-intro {
            padding: 10px 0 0 20px;
            margin: 0 !important;
            li{
                background: none !important;
                color: @colourBlack;
                .fontSizeLineHeightEm(16,22);
                list-style: disc;
                padding: 0 !important;
            }
        }
    }
    @media(min-width: @screen-md) {
        height: 500px;
        overflow: hidden;
        .masthead-height {
            height: 500px;
        }
        &.short {
            height: 500px;
            .masthead-height {
                height: 500px;
            }
        }
        .masthead-img {
            max-width: 100%;
            height: auto;
            margin: 0;
            float: right;
        }
        .masthead-content-box {
            padding: 0 20px 0 60px;
            .page-heading {
                text-transform: uppercase;
                color: @colourBlack;
                .fontSizeLineHeightEm(56,56);
            }
            .text-intro {
                .fontSizeLineHeightEm(20,28);
                margin: 0;
                color: @colourBlack;
            }
            .list-intro {
                color: @colourBlack;
                li{
                    .fontSizeLineHeightEm(20,28);
                }
            }
        }
    }
}
