table.campaign-table {
	width: 100%;
	overflow: auto;

	    thead tr {
	        background: @colourBlack;
	        td {
	            color: @colourWhite;
	            .fontSizeLineHeightEm(18,18);
	            text-align: center;
	            padding: 20px 35px;
	            &:nth-child(2) {
	                font-weight: bold;
	            }
	        }
	    }
	    tbody {

	        tr td {

	            padding: 10px 20px;
	            text-align: center;
	            .fontSizeLineHeightEm(18,18);

	            p {
	            margin: 0;
	            }
	            
	            &:first-child {
	            	text-align: left;
	            	.fontSizeLineHeightEm(16,16);
	            	font-weight: bold;

	            }
	            
	            .table-term {
	                display: block;
	                font-size: 10px;
	            }

	            .small-txt {
	            	.fontSizeLineHeightEm(10,16);
	            	display: block;
	            }

	        }
	        tr:nth-child(2n+1) td {
	            background-color: @colourLightGrey;
	        }
	        tr:nth-child(2n) td {
	            background-color: @colourWhite;
	        }
	        tr:first-child td {
	             color: @colourRed;
	              font-weight: bold;
				  .fontCorpidHeavy();
	        }


	    }
	
}
