.terms-container{
  .width-float();
  background: @colourLightGrey;
  padding: 30px 0;
  @media (min-width: @screen-md){
    padding: 40px 0;
  }
  .accordion .accordion-section-title{
    padding: 0 30px 0 0;
    border: 0;
    .icon-expand{
      background: url(../img/layout/icon-arrow.png) center right no-repeat;
      background-size: 16px 9px;
      &.rotate{
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      @media (min-width: @screen-md){
        background-size: 21px 12px;
      }
    }
  }
  .accordion .accordion-section-content{
    padding: 20px 0;
  }
}