.three-col-img-text{
    .width-float();
    padding: 40px 0 45px;
    .life-icon{
        display: block;
        background: url(../img/sprites/sprite-bank-better-img.png) bottom left no-repeat;
        width: 175px;
        height: 125px;
        margin: 0 auto 20px;
        &.pay-better-icon {
            background-position: 30px 0;
        }
        &.manage-better-icon {
            background-position: -370px 0;
        }
        &.spend-better-icon {
            background-position: -760px 0;
        }
    }
    @media (min-width: @screen-md){
        padding: 100px 0;
    }
    .heading-text{
        .fontSizeLineHeightEm(36,36);
        @media (min-width: @screen-md){
            .fontSizeLineHeightEm(41,41);
        }
    }
    .secondary-heading-text{
        .fontCorpidHeavy();
        .fontSizeLineHeightEm(16,16);
        margin: 20px 0 5px;
        @media (min-width: @screen-md){
            .fontSizeLineHeightEm(20,20);
            margin: 35px 0 15px;
        }
    }
    p{
        .fontSizeLineHeightEm(16,22);
        margin: 0 0 45px 0;
        &.last-child{
            margin: 0;
        }
        @media (min-width: @screen-md){
            margin: 0;
            .fontSizeLineHeightEm(20,28);
        }
    }
}
